In [11]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions
import time

In [ ]:
#---------- NASA Mars News -------------------#

In [2]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'
# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [3]:
# get news title and paragraph
news_title = soup.find('div', class_="content_title").a.text.strip()
news_paragraph = soup.find('div', class_="rollover_description_inner").text.strip()

print(f"{news_title} \n {news_paragraph}")

NASA's Opportunity Rover Mission on Mars Comes to End
 NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.

In [ ]:
#---------- JPL Mars Space Images -------------------#

In [8]:
# Splinter definitions
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [12]:
# URL of page to be scraped
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
# Retrieve page
browser.visit(url)
html = browser.html

# Wait a couple seconds in case result is not coming back fast enough
time.sleep(3)
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

#browser.click_link_by_partial_text('FULL IMAGE')

In [13]:
featured_image_url = soup.find('footer').a['data-fancybox-href']
featured_image_url = 'https://www.jpl.nasa.gov' + featured_image_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17550_ip.jpg'

In [ ]:
#---------- Mars Weather -------------------#

In [14]:
# URL of page to be scraped
url = 'https://twitter.com/marswxreport?lang=en'
# Retrieve page
browser.visit(url)
html = browser.html

# Wait a couple seconds in case result is not coming back fast enough
time.sleep(3)
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

In [15]:
tweets = soup.find_all('div', class_="tweet")

# Loop through tweets search for result
for tweet in tweets:

    # Find the title of the tweet
    title = tweet.find('span', class_='FullNameGroup')
   
    if ("Mars Weather" in title.text.strip()):
        
        mars_weather = tweet.find('div', class_='js-tweet-text-container').p.text.strip()
        break

mars_weather

'Sol 2319 (2019-02-13), high -17C/1F, low -72C/-97F, pressure at 8.12 hPa, daylight 06:46-18:52pic.twitter.com/anlHR95BMs'

In [ ]:
#---------- Mars Facts -------------------#

In [16]:
# URL of page to be scraped
url = 'https://space-facts.com/mars/'

# Read tables into pandas
facts_tables = pd.read_html(url)
facts_tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [17]:
# Compose the dataframe
facts_df = facts_tables[0]
facts_df.columns = ['Description', 'Value']
facts_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
# Set index
facts_df.set_index('Description', inplace=True)
facts_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [19]:
# General HTML table 
html_table = facts_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
#---------- Mars Hemispheres -------------------#

In [29]:
# URL of page to be scraped
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
# Retrieve page
#browser.visit(url)
#html = browser.html

# Wait a couple seconds in case result is not coming back fast enough
#time.sleep(3)
# Create BeautifulSoup object; parse with 'html.parser'
#soup = BeautifulSoup(html, 'html.parser')

In [28]:
#browser.click_link_by_partial_text('Cerberus Hemisphere Enhanced')
#html1=browser.html
#soup = BeautifulSoup(html1, 'html.parser')
#print(soup.prettify())